<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="debug.log" layout="${longdate}|${level}|${logger}|${message}${onexception:|${exception:format=tostring,message,method:maxInnerExceptionLevel=5:innerFormat=tostring,message,method}}" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="GameHandlers.SyncCheckAction" final="true" />
    <logger name="Session.SendPacket" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
